# ==========================================
# Application Configuration
# ==========================================
NODE_ENV=test
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# ==========================================
# Authentication (NextAuth)
# MUST match between the Next.js runtime and Playwright runner
# ==========================================
AUTH_SECRET=YOUR_AUTH_SECRET-at-least-32-chars-long

# Google OAuth Credentials (Dummy values for testing)
AUTH_GOOGLE_ID=YOUR_AUTH_GOOGLE_ID
AUTH_GOOGLE_SECRET=YOUR_AUTH_GOOGLE_SECRET

# ==========================================
# Database Configuration
# Dedicated isolated test database
# ==========================================
DATABASE_URL=YOUR_DATABASE_URL

# ==========================================
# External Services & API Keys (Mocked)
# ==========================================
FRANKFURTER_URL=https://api.frankfurter.dev/v2/
NEXT_PUBLIC_FLAG_CDN=https://flagcdn.com


# ==========================================
# AI Config
# ==========================================
AI_PROVIDER_KEY=YOUR_AI_PROVIDER_KEY
GOOGLE_GENERATIVE_AI_API_KEY=YOUR_GOOGLE_GENERATIVE_AI_API_KEY