FRANKFURTER_URL=https://api.frankfurter.dev/v2/
AUTH_SECRET=YOUR_AUTH_SECRET
AUTH_GOOGLE_ID=YOUR_AUTH_GOOGLE_ID
AUTH_GOOGLE_SECRET=YOUR_AUTH_GOOGLE_SECRET
AI_PROVIDER_KEY=YOUR_AI_PROVIDER_KEY
DATABASE_URL=YOUR_DATABASE_URL
NEXT_PUBLIC_FLAG_CDN=https://flagcdn.com