@import "tailwindcss";
@import "../shared/theme/styles.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme inline {
  --font-sans: var(--font-jet-brains-mono);
  --font-mono: var(--font-jet-brains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
