@import "tailwindcss";
@import "../shared/theme/styles.css";
@import "../features/compare/styles.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme inline {
  --font-sans: var(--font-jet-brains-mono);
  --font-mono: var(--font-jet-brains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

dialog {
  @apply scale-90;
  &,
  &::backdrop {
    @apply opacity-0;
    transition:
      opacity 400ms ease,
      scale 400ms ease-in;
  }

  &[popover],
  &:open {
    @apply scale-100;
    &,
    &::backdrop {
      @apply opacity-100;
      @starting-style {
        @apply opacity-0 scale-90;
      }
    }
  }
}

@layer base {
  * {
    @apply outline-lime-500;
  }
  *[popover] {
    @apply bg-background-secondary text-foreground;
    position-anchor: auto;
    position-area: bottom span-right;
    position-try: flip-block;
  }
}

@layer utilities {
  .action-btn {
    @apply transition-transform duration-200;
    &:active {
      @apply scale-95;
    }
  }
}
